extends layout

block body
  div.controller(ng-controller='AppCtrl')
      
    div.view(ng-view)

  script(src='system/lib/jquery/dist/jquery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCNb1P6SAAoHO98FHW9IxmWAlPnw4lC0rY&sensor=false')
  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='system/lib/bootstrap/dist/js/bootstrap.js')
  script(src='system/lib/scrollr/dist/skrollr.min.js')
  script(src='system/lib/flipclock/dist/flipclock.min.js')