!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    base(href='/')
    title Hack Temple
    link(rel='stylesheet', href='system/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='system/lib/flipclock/dist/flipclock.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
