body, html {
	height: 100%;
	min-height: 100%;
	background-color: rgb(235, 235, 235);
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Slide 1 */
#slide-1 .bcg {
  background-image:url('../images/templemade.png');
  height: 98vh;
}

#slide-1 .bcg.bcg-fade-out {
  background-image:url('../images/templemade_original.jpg');
  height: 98vh;
}

/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    text-align: center
}

#slide-5{
	height: 800px;
	position:relative;	
}

.flip-clock-label {
	display:none;
}

#map-canvas { 
	height: 1500px; 
	width: 100%; 
	position:absolute
}

.container{
  width:960px;
}

.info{
  font-size:18px;
  line-height:2em;
}